@{
    ViewData["Title"] = "Get To Know Joel";
}

<h1>Get To Know Joel!</h1>
<a href="https://www.qwcomedy.com/">Learn more about his Quick Wits Comedy</a>
<br />
<a href="https://baconsale.com/">Learn more about his Baconsale Site </a>
<br />
<a href="https://baconsale.com/">
    <img src="~/img/baconsalekate.jpg" height="500" alt="Bacon Sale Kate"/>
</a>


