@{
    ViewData["Title"] = "Home";
}


<h1>The Joel Hilton Film Collection</h1>

<div >
    <img src="~/img/joelhiltonheadshot.jpg" />
</div>

<div>
    <a asp-controller="Home" asp-action="AllMovies">View All Movies</a>
</div>

